<form id="mask" action="./">
  <div>
    <div>
      <h2>Order Summary</h2>
    </div>
    <div>
      <section>
        <p>
          <span class="prefix" id="How_do_you_drink_your_coffeePrefixCopy"
            >“I drink my coffee</span
          >
          <span id="How_do_you_drink_your_coffeeCopy">_____</span>, with a
          <span id="What_type_of_coffeeCopy">_____</span> type of bean.
          <span id="How_much_would_you_likeCopy">_____</span>
          <span class="prefix" id="Want_us_to_grind_themPrefixCopy"></span>
          <span id="Want_us_to_grind_themCopy"></span>, sent to me
          <span id="How_often_should_we_deliverCopy">_____</span>.”
        </p>
        <p>
          Is this correct? You can proceed to checkout or go back to plan
          selection if something is off. Subscription discount codes can also be
          redeemed at the checkout.
        </p>
      </section>
      <div>
        <span id="formattedPerMonthPriceSpan">$14.00/ mo</span>
        <button type="submit">Checkout</button>
        <button id="buttonMobileCheckout" type="submit"></button>
      </div>
    </div>
  </div>
</form>
