<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Blog preview card for FM" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home/home.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon-32x32.png') }}"
      sizes="32x32"
      type="image/png"
    />

    <title>{{ siteTitle }}</title>
  </head>

  <body>
    {% include 'components/navbar.html' %}
    <main>
      <!-- prettier-ignore -->
      {% include './home/block1.html' %}
      {% include './home/block2.html' %}
      {% include './home/block3.html' %}
    </main>
  </body>

  <script src="{{ url_for('static', filename='dist/main.js') }}"></script>
</html>
