<form>
  <div>
    <ul>
      {% for item in createPlanNav %}
      <li>
        <label>
          <input onclick="optionCheckboxSelector({{ loop.index }}); checkOrderSummary();" disabled {% if loop.index==1
            %} checked {% endif %} type="radio" name="plan" class="plan" />
          <span>{{ "%02d"|format(loop.index) }}</span>
          <span>{{ item }}</span>
        </label>
        <hr />
      </li>
      {% endfor %}
    </ul>
    <div>
      <ul>
        {% for item in createPlanBlocks %}
        <li>
          <label id="{{ item.title|replace(' ' , '_')|replace('?','') }}Label">
            <h2>{{ item.title }}</h2>
            <input {% if loop.index==1 %} checked {% endif %} name="{{ item.title }}" disabled
              class="createPlanBlocksInput" type="radio" />
          </label>
          <ul>
            {% set parent_index = loop.index %}
            {% set parrent_last = loop.last %}
            {% for subItem in item.options %}
            <li>
              <label
                onclick="optionNavSelector({{ parent_index - 1 }}); document.getElementById(`{{ item.title|replace(' ' , '_')|replace('?','') }}`).textContent = '{{ subItem.title }}'; checkOrderSummary();">
                <input class="inputOption" type="radio" name="{{ item.title|replace(' ' , '_')|replace('?','') }}" />
                <section>
                  <h3>{{ subItem.title }}</h3>
                  <p>{{ subItem.description }}</p>
                </section>
              </label>
            </li>
            {% endfor %}
          </ul>
          {% endfor %}
        </li>
      </ul>
      <div id="orderSummary">
        <h3>ORDER SUMMARY</h2>
          <p id="coffee-description">
            <span class="prefix" id="How_do_you_drink_your_coffeePrefix">“I drink my coffee</span>
            <span id="How_do_you_drink_your_coffee">_____</span>, with a
            <span id="What_type_of_coffee">_____</span> type of bean.
            <span id="How_much_would_you_like">_____</span>
            <span class="prefix" id="Want_us_to_grind_themPrefix"></span>
            <span id="Want_us_to_grind_them"></span>, sent to me
            <span id="How_often_should_we_deliver">_____</span>.”
          </p>
      </div>
    </div>
  </div>
  <button type="submit" disabled id="buttonCreateMyPlan">Create my plan!</button>

</form>