<div>
  <picture>
    <source
      media="(max-width: 768px)"
      srcset="../static/images/about/mobile/image-hero-whitecup.jpg"
    />

    <source
      media="(max-width: 1110px)"
      srcset="../static/images/about/tablet/image-hero-whitecup.jpg"
    />

    <img
      src="../static/images/about/desktop/image-hero-whitecup.jpg"
      alt="Coffee Press"
      class="hero-image"
    />
  </picture>
  <section>
    <h1>About Us</h1>
    <p>
      Coffeeroasters began its journey of exotic discovery in 1999, highlighting
      stories of coffee from around the world. We have since been dedicated to
      bring the perfect cup - from bean to brew - in every shipment.
    </p>
  </section>
</div>
