.about-us h1,
.about-us h2,
.about-us h3,
.about-us p {
  margin: 0;
}

.about-us h1,
.about-us h2 {
  font-family: fraunces;
  font-weight: var(--font-black);
  font-size: 40px;
}

.about-us p {
  font-family: barlow;
  font-size: 16px;
  line-height: 26px;
}

main.about-us > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 450px;
}
main.about-us > div:nth-of-type(1) > img {
  border-radius: 10px;
  position: absolute;
}

main.about-us > div:nth-of-type(1) > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 445px;
  position: relative;
  margin-left: 85px;
}

main.about-us > div:nth-of-type(1) > div > h1 {
  color: #fefcf7;
}

main.about-us > div:nth-of-type(1) > div > p {
  color: #fefcf7;
}

main.about-us > div:nth-of-type(2) {
  margin-top: 168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1110px;
  width: 100%;
  height: 520px;
}

main.about-us > div:nth-of-type(2) > img {
  border-radius: 8px;
}

main.about-us > div:nth-of-type(2) > div {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  gap: 32px;
  color: #333d4b;
}

main.about-us > div:nth-of-type(2) > div > p {
  opacity: 0.8;
}

main.about-us > div:nth-of-type(3) {
  margin-top: 256px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #2c343e;
  height: 474px;
  border-radius: 10px;
  color: #fefcf7;
  padding-inline: 85px;
  box-sizing: border-box;
}
main.about-us > div:nth-of-type(3) > div {
  display: flex;
  flex-direction: column;
  margin-top: 88px;
  gap: 32px;
}

main.about-us > div:nth-of-type(3) > div > p {
  max-width: 540px;
  width: 100%;
  opacity: 0.8;
}

main.about-us > div:nth-of-type(3) > img {
  margin-top: -88px;
  border-radius: 8px;
  width: 445px;
  height: 474px;
}

main.about-us > div:nth-of-type(4) {
  margin-top: 168px;
  max-width: 1045px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 72px;
}

main.about-us > div:nth-of-type(4) > h2 {
  color: #83888f;
  font-size: 24px;
  line-height: 32px;
}

main.about-us > div:nth-of-type(4) > ul {
  display: flex;
  gap: 95px;
  justify-content: baseline;
  width: 100%;
  list-style-type: none;
  padding-inline: 0;
}

main.about-us > div:nth-of-type(4) > ul > li {
  max-width: 285px;
  width: 100%;
}

main.about-us > div:nth-of-type(4) > ul > li > div {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

main.about-us > div:nth-of-type(4) > ul > li > div > h3 {
  color: #333d4b;
  font-family: fraunces;
  font-size: 32px;
  line-height: 36px;
  font-weight: var(--font-black);
}

main.about-us > div:nth-of-type(4) > ul > li > div > section {
  color: #333d4b;
  font-size: 16px;
  line-height: 26px;
}

body:has(main.about-us) > footer {
  margin-top: 168px;
}
