.create-your-plan h1,
.create-your-plan h2,
.create-your-plan h3,
.create-your-plan p {
  margin: 0;
}

.create-your-plan label:hover {
  cursor: pointer;
}

.create-your-plan ul {
  padding: 0;
  margin: 0;
}

.create-your-plan li {
  list-style-type: none;
}

main.create-your-plan > div:nth-of-type(1) {
  display: flex;
  width: 100%;
  height: 450px;
}

main.create-your-plan > div:nth-of-type(1) > img {
  border-radius: 10px;
  position: absolute;
}

main.create-your-plan > div:nth-of-type(1) > section {
  max-width: 445px;
  position: relative;
  color: #fefcf7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  margin-left: 85px;
}
main.create-your-plan > div:nth-of-type(1) > section > h1 {
  font-family: fraunces;
  font-size: 72px;
  font-weight: var(--font-black);
  line-height: 72px;
}
main.create-your-plan > div:nth-of-type(1) > section > p {
  opacity: 0.8;
  font-size: 16px;
  line-height: 26px;
  font-family: barlow;
}

main.create-your-plan > div:nth-of-type(2) {
  margin-top: 177px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #2c343e;
  border-radius: 10px;
  padding-top: 95px;
  padding-left: 85px;
  padding-bottom: 107px;
  box-sizing: border-box;
}

main.create-your-plan .ulHowItWorks > li > h3 {
  color: #fefcf7;
}

main.create-your-plan .ulHowItWorks > li > p {
  color: #fefcf7;
}

main.create-your-plan > form {
  margin-top: 168px;
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

main.create-your-plan > form > ul:nth-of-type(1) {
  display: flex;
  flex-direction: column;
}

main.create-your-plan > form > ul:nth-of-type(1) > li > label {
  display: flex;
}

main.create-your-plan
  > form
  > ul:nth-of-type(1)
  > li
  > label
  > input[type="radio"] {
  display: none;
}

main.create-your-plan > form > ul:nth-of-type(1) > li:nth-of-type(1) > label {
  gap: 28.5px;
}
/* here now */
main.create-your-plan > form > ul:nth-of-type(1) > li:nth-of-type(2) > label {
  gap: 24.5px;
}

main.create-your-plan > form > ul:nth-of-type(1) > li:nth-of-type(3) > label {
  gap: 25.5px;
}

main.create-your-plan > form > ul:nth-of-type(1) > li:nth-of-type(4) > label {
  gap: 23.5px;
}

main.create-your-plan > form > ul:nth-of-type(1) > li:nth-of-type(5) > label {
  gap: 25.5px;
}

main.create-your-plan > form > ul:nth-of-type(1) > li > label {
  font-family: fraunces;
  font-size: 24px;
  font-weight: var(--font-black);
}

main.create-your-plan > form > ul:nth-of-type(1) > li > label > span {
  opacity: 0.4;
}

main.create-your-plan > form > ul:nth-of-type(1) > li > label:hover > span {
  opacity: 0.6;
}

main.create-your-plan
  > form
  > ul:nth-of-type(1)
  > li
  > label
  > input:checked
  ~ span {
  opacity: 1;
}

main.create-your-plan
  > form
  > ul:nth-of-type(1)
  > li:nth-of-type(1)
  > label
  > span:nth-of-type(1) {
  color: #0e8784;
}

main.create-your-plan
  > form
  > ul:nth-of-type(1)
  > li
  > label
  > span:nth-of-type(1) {
  color: #83888f;
}

main.create-your-plan
  > form
  > ul:nth-of-type(1)
  > li
  > label
  > span:nth-of-type(2) {
  color: #333d4b;
}

main.create-your-plan > form > ul:nth-of-type(1) > li > hr {
  width: 255px;
  border: 1px solid #83888f;
  opacity: 0.25;
  margin-block: 24px;
}
main.create-your-plan > form > ul:nth-of-type(1) > li:last-of-type > hr {
  display: none;
}

main.create-your-plan > form > ul:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  max-width: 730px;
  width: 100%;
  gap: 88px;
}

main.create-your-plan > form > ul:nth-of-type(2) > li {
  display: flex;
  flex-direction: column;
  gap: 56px;
  box-sizing: border-box;
}

main.create-your-plan > form > ul:nth-of-type(2) > li > label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

main.create-your-plan > form > ul:nth-of-type(2) > li > label > h2 {
  font-family: fraunces;
  font-size: 40px;
  font-weight: var(--font-black);
  color: #83888f;
  line-height: 48px;
}

main.create-your-plan
  > form
  > ul:nth-of-type(2)
  > li
  > label
  > input[type="radio"] {
  appearance: none;
  background-image: url("../images/plan/desktop/icon-arrow.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 13px;
  transition: transform 0.3s;
}

main.create-your-plan
  > form
  > ul:nth-of-type(2)
  > li
  > label
  > input[type="radio"]:checked {
  transform: scaleY(-1);
}

main.create-your-plan > form > ul:nth-of-type(2) > li > label:hover {
  cursor: default;
}

main.create-your-plan > form > ul:nth-of-type(2) > li > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
}

main.create-your-plan > form > ul:nth-of-type(2) > li > ul > li > label {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  background-color: #f4f1eb;
  border-radius: 8px;
}

main.create-your-plan
  > form
  > ul:nth-of-type(2)
  > li:not(:has(input[type="radio"]:checked))
  > ul {
  display: none;
}

main.create-your-plan
  > form
  > ul:nth-of-type(2)
  > li
  > ul
  > li
  > label:has(input[type="radio"]:checked) {
  background-color: #0e8784;
}

main.create-your-plan
  > form
  > ul:nth-of-type(2)
  > li
  > ul
  > li
  > :not(label:has(input[type="radio"]:checked)):hover {
  background-color: #fdd6ba;
}

main.create-your-plan
  > form
  > ul:nth-of-type(2)
  > li
  > ul
  > li
  > label
  > input[type="radio"] {
  display: none;
}

main.create-your-plan
  > form
  > ul:nth-of-type(2)
  > li
  > ul
  > li
  > label
  > section {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-inline: 28px;
  gap: 24px;
  color: #333d4b;
}
main.create-your-plan
  > form
  > ul:nth-of-type(2)
  > li
  > ul
  > li
  > label:has(input[type="radio"]:checked)
  > section {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-inline: 28px;
  gap: 24px;
  color: white;
}

main.create-your-plan
  > form
  > ul:nth-of-type(2)
  > li
  > ul
  > li
  > label
  > section
  > h3 {
  font-family: fraunces;
  font-size: 24px;
  font-weight: var(--font-black);
  line-height: 32px;
  text-wrap: nowrap;
}

main.create-your-plan
  > form
  > ul:nth-of-type(2)
  > li
  > ul
  > li
  > label
  > section
  > p {
  font-family: barlow;
  font-size: 16px;
  line-height: 26px;
}

main.create-your-plan > form > ul:nth-of-type(2) > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 208px;
  background-color: #2c343e;
  border-radius: 10px;
  padding-inline: 64px;
  box-sizing: border-box;
}

main.create-your-plan > form > ul:nth-of-type(2) > div:nth-of-type(1) > h3 {
  color: white;
  opacity: 0.5;
  font-family: barlow;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}

main.create-your-plan > form > ul:nth-of-type(2) > div:nth-of-type(1) > p {
  color: white;
  font-family: fraunces;
  font-size: 24px;
  font-weight: var(--font-black);
  line-height: 40px;
}
main.create-your-plan
  > form
  > ul:nth-of-type(2)
  > div:nth-of-type(1)
  > p
  > span {
  color: #0e8784;
}

main.create-your-plan > form > ul:nth-of-type(2) > button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #0e8784;
  margin-top: -44px;
  place-self: end;
  width: 217px;
  height: 56px;
  box-sizing: border-box;
  border: none;
  color: #fefcf7;
  font-family: fraunces;
  font-size: 18px;
  font-weight: var(--font-black);
  line-height: 25px;
  transition: background-color 0.15s;
}

main.create-your-plan > form > ul:nth-of-type(2) > button:not(:disabled):hover {
  cursor: pointer;
  background-color: #66d2cf;
}

main.create-your-plan > form > ul:nth-of-type(2) > button:disabled:hover {
  cursor: not-allowed;
}

main.create-your-plan > form > ul:nth-of-type(2) > button:disabled {
  background-color: #e2dedb;
}

body:has(main.create-your-plan) > footer {
  margin-top: 168px;
}
