@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-regular: 400;
  --font-bold: 700;
  --font-black: 900;
  --barlow: "Barlow", sans-serif;
  --fraunces: "Fraunces", sans-serif;
}

.circleLine {
  display: flex;
  align-items: center;
}

.circle {
  min-width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 2px solid #0e8784;
  box-sizing: border-box;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #fdd6ba;
}

.ulHowItWorks > li:last-child > .circleLine > .line {
  display: none;
}

.ulHowItWorks {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: baseline;
  padding: 0;
  margin: 0;
}

.ulHowItWorks > li {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 67px;
}

.ulHowItWorks > li > section {
  margin-right: 40px;
}
.ulHowItWorks > li:last-child > section {
  margin-right: 0px;
}

.ulHowItWorks > li > section > span {
  font-family: fraunces;
  font-size: 72px;
  font-weight: var(--font-black);
  color: #fdd6ba;
  line-height: 72px;
}

.ulHowItWorks > li > section > h2 {
  max-width: 255px;
  margin-top: 38px;
  font-family: fraunces;
  font-size: 32px;
  font-weight: var(--font-black);
  line-height: 36px;
}

.ulHowItWorks > li > section > p {
  max-width: 285px;
  margin-top: 42px;
  font-family: barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

a {
  text-decoration: none;
  color: #83888f;
  font-weight: var(--font-bold);
  font-family: barlow;
  font-size: 12px;
  letter-spacing: 0.92px;
  line-height: 15px;
  transition: color 0.15s;
}

nav > ul > li > a:hover {
  color: #333d4b;
}
html {
  width: 100%;
}
body {
  background-color: #fefcf7;
  padding-top: 43px;
  margin: auto;
  min-height: 100vh;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main {
  padding-top: 43px;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: calc(100% - 80px);
}

nav {
  max-width: calc(1280px + 80px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 40px;
  box-sizing: border-box;
}

nav > svg.logo > * {
  fill: #333d4b;
}

nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c343e;
  width: 100%;
  height: 120px;
}

footer > div {
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > div > div:nth-last-of-type(1) {
  display: flex;
  max-width: 622px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
footer > div > div:nth-last-of-type(1) > ul {
  display: flex;
  gap: 32px;
}
footer > div > div:nth-last-of-type(1) > ul > li {
  list-style: none;
}
footer > div > ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
footer > div > ul > li {
  list-style: none;
}
footer > div > ul > li {
  list-style: none;
}
footer > div > ul > li > a > svg {
  transition: fill 0.15s;
  fill: #fefcf7;
}
footer > div > ul > li > a:hover > svg {
  fill: #fdd6ba;
}

footer > div > div:nth-last-of-type(1) > ul > li > a:hover {
  color: #fefcf7;
}

svg.logo > * {
  fill: #ffffff;
}

@media screen and (max-width: 1280px) {
  .ulHowItWorks > li {
    gap: 48px;
  }
}
