.home h1 {
  color: #fefcf7;
  font-size: 72px;
  font-family: fraunces;
  font-weight: var(--font-black);
  margin: 0px;
  line-height: 72px;
  letter-spacing: -1px;
  text-wrap: balance;
}

.home a.createYourPlan {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 217px;
  height: 56px;
  background-color: #0e8784;
  color: #fefcf7;
  font-size: 16px;
  font-family: fraunces;
  font-weight: var(--font-black);
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.15s;
}

.home a.createYourPlan:hover {
  background-color: #66d2cf;
}

.home h3 {
  font-family: fraunces;
  font-size: 24px;
  font-weight: var(--font-black);
  color: #333d4b;
  margin: 0;
}

.home p {
  font-family: barlow;
  font-size: 16px;
  font-weight: 400;
  color: #333d4b;
  margin: 0;
  line-height: 26px;
}

main.home > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  width: 100%;
  height: 600px;
  position: relative;
}

main.home > div:nth-of-type(1) > picture > img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  object-fit: cover;
}

main.home > div:nth-of-type(1) > div {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 85px;
  max-width: 493px;
  width: 100%;
}

main.home > div:nth-of-type(1) > div > p {
  margin-top: 32px;
  margin-bottom: 0px;
  color: #fefcf7;
  opacity: 0.8;
  font-size: 16px;
  font-family: var(--barlow);
  font-weight: 300;
  line-height: 26px;
  max-width: 445px;
  letter-spacing: 0.5px;
}

main.home > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1111px;
  width: 100%;
  margin-top: 136px;
  height: 525px;
}

main.home > div:nth-of-type(2) > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 196px;
  background: linear-gradient(180deg, #979797 0%, transparent 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main.home > div:nth-of-type(2) > div:nth-of-type(1) > span {
  font-family: fraunces;
  font-weight: 800;
  font-size: 140px;
  letter-spacing: -5px;
  color: #83888f;
  line-height: 144px;
}

main.home > div:nth-of-type(2) > ul {
  margin-top: -55px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

main.home > div:nth-of-type(2) > ul > li {
  display: flex;
  flex-direction: column;
  gap: 70px;
  justify-content: center;
  align-items: center;
}

main.home > div:nth-of-type(2) > ul > li > img {
  object-fit: scale-down;
}

main.home > div:nth-of-type(2) > ul > li > section {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main.home > div:nth-of-type(2) > ul > li > section > h2 {
  font-family: fraunces;
  font-size: 24px;
  line-height: 32px;
  font-weight: var(--font-black);
  color: #333d4b;
  margin: 0;
}
main.home > div:nth-of-type(2) > ul > li > section > p {
  max-width: 255px;
  margin-top: 8px;
}

main.home > div:nth-of-type(3) {
  display: flex;
  align-items: center;
  width: 100%;
  height: 577px;
  flex-direction: column;
  margin-top: 200px;
  background-color: #2c343e;
  border-radius: 10px;
  gap: 86px;
}

main.home > div:nth-of-type(3) > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  gap: 32px;
}

main.home > div:nth-of-type(3) > div > h2 {
  font-family: fraunces;
  font-size: 40px;
  font-weight: var(--font-black);
  color: #fefcf7;
  margin: 0;
}

main.home > div:nth-of-type(3) > div > p {
  color: #fefcf7;
  opacity: 0.8;
  max-width: 540px;
}

main.home > div:nth-of-type(3) > ul {
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  list-style: none;
}
main.home > div:nth-of-type(3) > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  max-width: 350px;
  width: 100%;
  background-color: #0e8784;
  border-radius: 8px;
  justify-content: center;
  gap: 56px;
  box-sizing: border-box;
  min-height: 382px;
}

main.home > div:nth-of-type(3) > ul > li > div {
  display: flex;
  width: fit-content;
  height: 72px;
  align-items: center;
  text-align: center;
}

main.home > div:nth-of-type(3) > ul > li > section {
  display: flex;
  flex-direction: column;
  max-width: 255px;
  gap: 24px;
}

main.home > div:nth-of-type(3) > ul > li > section > h3 {
  color: #fefcf7;
}

main.home > div:nth-of-type(3) > ul > li > section > p {
  color: #fefcf7;
}

main.home > div:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  margin-left: 85px;
  margin-top: calc(728px - 577px + 200px);
  max-width: calc(100% - 130px);
  width: 100%;
}

main.home > div:nth-of-type(4) > h2 {
  font-family: fraunces;
  font-size: 24px;
  font-weight: var(--font-black);
  color: #83888f;
  margin: 0;
  margin-bottom: 80px;
}

main.home .ulHowItWorks > li > section > h2 {
  color: #333d4b;
}

main.home .ulHowItWorks > li > section > p {
  color: #333d4b;
}

body:has(main.home) > footer {
  margin-top: 200px;
}

@media screen and (max-width: 1280px) {
  .home h1 {
    font-size: 48px;
    line-height: 48px;
  }

  .home p {
    font-size: 15px;
    line-height: 25px;
  }

  main.home > div:nth-of-type(1) {
    height: 500px;
  }

  main.home > div:nth-of-type(2) {
    height: 925px;
  }

  main.home > div:nth-of-type(2) > ul {
    height: fit-content;
    flex-direction: column;
    gap: 32px;
  }

  main.home > div:nth-of-type(2) > ul > li {
    flex-direction: row;
  }

  main.home > div:nth-of-type(2) > ul > li > section {
    align-items: start;
    text-align: left;
  }

  main.home > div:nth-of-type(2) > div:nth-of-type(1) > span {
    font-size: 96px;
  }

  main.home > div:nth-of-type(3) {
    height: 630px;
    gap: 70px;
  }

  main.home > div:nth-of-type(3) > ul {
    flex-direction: column;
    gap: 24px;
  }

  main.home > div:nth-of-type(3) > ul > li {
    flex-direction: row;
    max-width: calc(100% - 58px * 2);
    margin-inline: 58px;
    min-height: 180px;
    gap: 55px;
  }

  main.home > div:nth-of-type(3) > ul > li > section {
    text-align: left;
    max-width: 300px;
  }

  main.home > div:nth-of-type(3) > div > h2 {
    font-size: 32px;
  }

  main.home > div:nth-of-type(4) {
    margin-top: calc(863px - 573px + 144px);
    margin-left: 0px;
    max-width: 100%;
  }

  main.home > div:nth-of-type(4) > h2 {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .home h1 {
    font-size: 40px;
    line-height: 40px;
  }

  main.home > div:nth-of-type(1) {
    justify-content: center;
  }

  main.home > div:nth-of-type(1) > div {
    align-items: center;
    text-align: center;
    padding-inline: 24px;
    margin: 0;
  }

  main.home > div:nth-of-type(2) {
    margin-top: 120px;
    height: fit-content;
  }

  main.home > div:nth-of-type(2) > div:nth-of-type(1) > span {
    line-height: 72px;
    padding-bottom: 12px;
  }

  main.home > div:nth-of-type(2) > div:nth-of-type(1) {
    height: fit-content;
  }

  main.home > div:nth-of-type(2) > div:nth-of-type(1) > span {
    font-size: 40px;
    letter-spacing: -1px;
  }

  main.home > div:nth-of-type(2) > ul {
    margin-top: 13px;
    gap: 48px;
  }

  main.home > div:nth-of-type(2) > ul > li {
    flex-direction: column;
    gap: 24px;
  }

  main.home > div:nth-of-type(2) > ul > li > section {
    align-items: center;
    text-align: center;
  }

  main.home > div:nth-of-type(2) > ul > li > img {
    width: 200px;
    height: auto;
  }

  main.home > div:nth-of-type(3) > div {
    padding-inline: 24px;
  }

  main.home > div:nth-of-type(3) {
    margin-top: 120px;
    height: fit-content;
    background: linear-gradient(180deg, #2c343e 60%, transparent 60%);
  }

  main.home > div:nth-of-type(3) > ul {
    align-items: center;
    box-sizing: border-box;
    padding-inline: 24px;
  }
  main.home > div:nth-of-type(3) > ul > li {
    max-width: 100%;
    flex-direction: column;
    height: 382px;
    min-height: fit-content;
    padding-top: 72px;
    padding-bottom: 51px;
    padding-inline: 24px;
    box-sizing: border-box;
  }

  main.home > div:nth-of-type(3) > ul > li > section {
    align-items: center;
    text-align: center;
  }

  main.home > div:nth-of-type(4) {
    margin-top: 120px;
    align-items: center;
  }

  main.home > div:nth-of-type(4) > h2 {
    width: fit-content;
  }
}
