.home h1 {
  color: #fefcf7;
  font-size: 72px;
  font-family: fraunces;
  font-weight: var(--font-black);
  margin: 0px;
  line-height: 72px;
  letter-spacing: -1px;
}

.home a.createYourPlan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 217px;
  height: 56px;
  margin-top: 56px;
  background-color: #0e8784;
  color: #fefcf7;
  font-size: 16px;
  font-family: fraunces;
  font-weight: var(--font-black);
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.15s;
}

.home a.createYourPlan:hover {
  background-color: #66d2cf;
}

.home h3 {
  font-family: fraunces;
  font-size: 24px;
  font-weight: var(--font-black);
  color: #333d4b;
  margin: 0;
}

.home p {
  font-family: barlow;
  font-size: 16px;
  font-weight: 400;
  color: #333d4b;
  margin: 0;
  line-height: 26px;
}

.circle {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 2px solid #0e8784;
  box-sizing: border-box;
}

.line {
  width: 349px;
  height: 2px;
  background-color: #fdd6ba;
}

main.home > div:nth-of-type(1) {
  width: 100%;
  height: 600px;
  position: relative;
}

main.home > div:nth-of-type(1) > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
}

main.home > div:nth-of-type(1) > div {
  position: relative;
  padding-top: 117px;
  padding-left: 85px;
  max-width: 493px;
  width: 100%;
}

main.home > div:nth-of-type(1) > div > p {
  margin-top: 32px;
  margin-bottom: 0px;
  color: #fefcf7;
  opacity: 0.8;
  font-size: 16px;
  font-family: var(--barlow);
  font-weight: 300;
  line-height: 26px;
  max-width: 445px;
  letter-spacing: 0.5px;
}

main.home > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;

  justify-content: center;
  max-width: 1111px;
  width: 100%;
  margin-top: 136px;
  height: 525px;
}

main.home > div:nth-of-type(2) > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 196px;
  background: linear-gradient(180deg, #979797 0%, transparent 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main.home > div:nth-of-type(2) > div:nth-of-type(1) > span {
  font-family: fraunces;
  font-weight: 800;
  font-size: 140px;
  letter-spacing: -5px;
  color: #83888f;
  line-height: 144px;
}

main.home > div:nth-of-type(2) > ul {
  margin-top: -55px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

main.home > div:nth-of-type(2) > ul > li {
  display: flex;
  flex-direction: column;
  gap: 70px;
  justify-content: center;
  align-items: center;
}

main.home > div:nth-of-type(2) > ul > li > img {
  object-fit: scale-down;
}

main.home > div:nth-of-type(2) > ul > li > div {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main.home > div:nth-of-type(2) > ul > li > div > p {
  max-width: 255px;
  margin-top: 8px;
}

main.home > div:nth-of-type(3) {
  display: flex;
  align-items: center;
  width: 100%;
  height: 577px;
  flex-direction: column;
  margin-top: 200px;
  background-color: #2c343e;
  border-radius: 10px;
  gap: 86px;
}

main.home > div:nth-of-type(3) > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  gap: 32px;
}

main.home > div:nth-of-type(3) > div > h2 {
  font-family: fraunces;
  font-size: 40px;
  font-weight: var(--font-black);
  color: #fefcf7;
  margin: 0;
}

main.home > div:nth-of-type(3) > div > p {
  color: #fefcf7;
  opacity: 0.8;
  max-width: 540px;
}

main.home > div:nth-of-type(3) > ul {
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  list-style: none;
}
main.home > div:nth-of-type(3) > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  max-width: 350px;
  width: 100%;
  background-color: #0e8784;
  height: 382px;
  border-radius: 8px;
  padding-top: 72px;
  padding-bottom: 48px;
  box-sizing: border-box;
}

main.home > div:nth-of-type(3) > ul > li > div:nth-of-type(1) {
  display: flex;
  width: fit-content;
  height: 72px;
  align-items: center;
  text-align: center;
}

main.home > div:nth-of-type(3) > ul > li > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  max-width: 255px;
  gap: 24px;
}

main.home > div:nth-of-type(3) > ul > li > div:nth-of-type(2) > h3 {
  color: #fefcf7;
}

main.home > div:nth-of-type(3) > ul > li > div:nth-of-type(2) > p {
  color: #fefcf7;
}

main.home > div:nth-of-type(4) {
  align-self: baseline;
  margin-left: 85px;
  margin-top: calc(728px - 577px + 200px);
  max-width: 1045px;
  width: 100%;
}

main.home > div:nth-of-type(4) > h2 {
  font-family: fraunces;
  font-size: 24px;
  font-weight: var(--font-black);
  color: #83888f;
  margin: 0;
}

main.home > div:nth-of-type(4) > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

main.home > div:nth-of-type(4) > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

main.home > div:nth-of-type(4) > ul > li {
  max-width: 285px;
  width: 100%;
  margin-top: 67px;
  display: flex;
  flex-direction: column;
}

main.home > div:nth-of-type(4) > ul > li > span {
  font-family: fraunces;
  font-size: 72px;
  font-weight: var(--font-black);
  color: #fdd6ba;
  line-height: 72px;
}

main.home > div:nth-of-type(4) > ul > li > h3 {
  max-width: 255px;
  margin-top: 38px;
  font-family: fraunces;
  font-size: 32px;
  font-weight: var(--font-black);
  color: #333d4b;
  line-height: 36px;
}

main.home > div:nth-of-type(4) > ul > li > p {
  margin-top: 42px;
  font-family: barlow;
  font-size: 16px;
  font-weight: 400;
  color: #333d4b;
  line-height: 26px;
}

body:has(main.home) > footer {
  margin-top: 200px;
}
