@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --bold: 700;
  --barlow: "Barlow", sans-serif;
  --fraunces: "Fraunces", sans-serif;
}

a {
  text-decoration: none;
  color: #83888f;
  font-weight: var(--bold);
  font-family: var(--barlow);
  font-size: 12px;
  letter-spacing: 0.92px;
  line-height: 15px;
}

body {
  margin: auto;
  max-width: 1280px;
  padding-top: 43px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}
