<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Blog preview card for FM" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/globals.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home/home.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon-32x32.png') }}"
      sizes="32x32"
      type="image/png"
    />
    <link rel="prefetch" href="{{ url_for('home') }}" />
    <link rel="prefetch" href="{{ url_for('about_us') }}" />
    <link rel="prefetch" href="{{ url_for('create_your_plan') }}" />

    <title>{{ siteTitle }}</title>
  </head>

  <body>
    {% include 'components/navbar.html' %}
    <main>
      <!-- prettier-ignore -->
      {% block content %}{% endblock %}
    </main>
    {% include 'components/footer.html' %}
  </body>
  <script>
    function loadContent(page) {
      fetch(`/content/${page}`)
        .then((response) => response.text())
        .then((html) => {
          document.querySelector("main").innerHTML = html;
          history.pushState(null, "", `/${page}`);
        })
        .catch((error) => console.error("Error loading content:", error));
    }

    window.onpopstate = function () {
      const path = window.location.pathname.slice(1);
      loadContent(path || "");
    };

    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll("nav a").forEach((link) => {
        link.addEventListener("click", (event) => {
          event.preventDefault();
          const page = event.target.getAttribute("href").slice(1);
          loadContent(page);
        });
      });
    });
  </script>
  <script src="{{ url_for('static', filename='dist/main.js') }}"></script>
</html>
